
<div class="container">

<div class="row">
<div class="col-md-3">
      <section class="main-header">
    <img src="<%= asset_path "doseisan.jpg" %> ">
  </section>
    <h2>Blog</h2>
      <p>このサイトはruby on railsの練習に作成されました。</p>
        <p>blogページです</p>
        
   </div>
   
   <div class="col-md-9">
      
   <p><%= notice %></p>
    <%= link_to "投稿する", new_blog_path, class: 'btn btn-default' %>
    <h1>あなたの投稿</h1>
      <% @blogs.each do |blog| %>
        <div class="row">
     

<p><%= profile_img(blog.user) %><%= blog.user.name %></p>
        <p><%= blog.title %></p>
         <p><%= blog.content %></p>
         <%= profile_img(@user) if @user.present? %>
               
        
         
         <%= link_to "編集", edit_blog_path(blog.id), class: "btn btn-primary btn-sm " %>
         
        <%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-success btn-sm ' %>  

         <% end %>
  </div>
</div>
 </div>

</div>
    
    <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

</div>

</div>