<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
<h3> Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <br />
    <%= f.text_field :name, class: "form-control", placeholder: "名前"  %>
  </div>

  <% if @user.provider.blank? %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード(6文字以上)" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード(確認)" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
  </div>

<% end %>

  <div class="field">
    <br />
    <%= profile_img(@user) if profile_img(@user) %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="actions">
     <br />
    <%= f.submit "登録情報を変更", class: "btn btn-success btn-block"  %>
  </div>
  </br>
  <%= link_to "戻る", :back %>

<% end %>

<br />
<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "ほんとうに　けすの　?" }, method: :delete, class: "btn btn-warning btn-sm" %></p>

 </div>
</div>
