
<div class="container">

<div class="row">
<div class="col-md-3">
      <section class="main-header">
    <img src="<%= asset_path "doseisan.jpg" %> ">
  </section>
    <h2>Twitter風アプリ</h2>
      <p>このサイトはruby on railsの練習に作成されました。</p>
        <p>content一覧ページです</p>
        
   </div>
   
   <div class="col-md-9">
      
   <p><%= notice %></p>
    <%= link_to "ツイートする", new_tweet_path, class: 'btn btn-default' %>
    <h1>あなたのツイート</h1>
      <% @tweets.each do |tweet| %>
       <div class="row">
        
         <p><%= tweet.content %></p>
         
         <%= link_to "編集", edit_tweet_path(tweet.id), class: "btn btn-primary btn-sm " %>
         
        <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-success btn-sm ' %>  

         <% end %>
  </div>
</div>
 </div>

</div>
    
    <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

</div>

</div>