
<div class="container">

<div class="row">
  <div class="col-md-4">
    <h2>Twitter風アプリ</h2>
      <p>このサイトはruby on railsの練習に作成されました。</p>
        <p>content一覧ページです</p>
         <%= link_to "ツイートする", new_tweet_path, class: 'btn btn-default' %>
   </div>
   
  <div class="col-md-8 " >
   <p><%= notice %></p>
    <h1>あなたのツイート</h1>
      <% @tweets.each do |tweet| %>
       <div class="row">
        <h4><strong><%= tweet.title %></strong></h4>
         <p><%= tweet.content %></p>
          <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
       </div>
         <% end %>
  </div>
</div>


</div>
    
    <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

</div>

</div>