




 <div class="container">
 <br> </br>
 　
   <div class="img-responsive">
   
 　<%= profile_img(@user) %>
  
  </div>
 
 <br> </br> <h4><%= @user.name %>がフォロー中</h4>
  <div class="image_size">
 　

    <!--users全体を確認-->
    
    <% @user.followed_users.each do |user| %>
      
        <div class="image_size">
         <%= profile_img(user) %>
        </div>
        <br>
        <%= user.name %>
        </br>

     <% end %>
    
 <br> </br>
  <h4><%= @user.name %>のフォローワー一覧</h4>
  </div>
    <% @user.followers.each do |user| %>
      
          <div class="image_size">
           <%= profile_img(user) %>
          </div>
        <br></br>
        <%= user.name %>
       
    <% end %>

  </div>






