




 <div class="container">
  <div class="row">
 <br> </br>
 　

  <div>
 　<%= profile_img(@user )%>

  </div>


 <div class="row">
 <br> </br> <h4><%= @user.name %>がフォロー中</h4>
  <div class="image_size">
 　

    <!--users全体を確認-->

    <% @user.followed_users.each do |user| %>
    <div class="col-md-2 col-sm-4 col-xs-6 ">
　　　　　 <div class="panel panel-default">
        <div class="image_size">
          <p style="padding-top:15px;" </p>
         <%= profile_img(user) %>
        </div>
        <br>
        <%= user.name %>
        </br>
        <br>
        <%= user.company_name %>
        </br>

        <br>
        <%= user.department %>
        </br>
　　　　　<p style="padding-top:15px;" </p>

　　　</div>
</div>
     <% end %>
</div>

 <br> </br>
 <div class="row">
  　<h4><%= @user.name %>のフォロワー一覧</h4>

    <% @user.followers.each do |user| %>
     <div class="col-md-2 col-sm-4 col-xs-6 ">
       <div style="display:table; width:80%; margin:5px auto;">
       <div style="display:table-cell; width:100%; background-color:#fcc;">
           <div class="panel panel-default">

          <div class="image_size">
            <p style="padding-top:15px;" </p>
           <%= profile_img(user) %>
          </div>
        <br> 名前<%= user.name %></br>
      <br> 会社名   <%= user.company_name %>  </br>

    <br> 部署名<%= user.department %></br>
　　　  <p style="padding-top:15px;" </p>
  </div>
</div>
    </div>
      <% end %>
  </div>
 <br>
  <%= link_to '戻る', :back %>
  </br>
