




 <div class="container">
  <div class="row">

 　


    <div style="display:table; width:40%; margin:5px auto;">

    <div class="panel panel-default">

        <p style="padding-top:15px;" </p>
  <div class="image_size">
 　<%= profile_img(@user )%>
</div>

<%if  @user.id == current_user.id -%>
<br> メール <%= @user.email %></br>
<% end %>
 <br> 名前 <%= @user.name %></br>
 <br> 会社名 <%= @user.company_name %></br>
 <br>  部署 <%= @user.department %></br>

  </div>
</div>
</div>

</div>
</div>


 <div class="row">
   <h4><%= @user.name %>がフォロー中</h4> 　
<div class="container">

    <% @user.followed_users.each do |user| %>
<div style="display:table; width:50%; margin:5px auto;">
   <div class="container-child col-md-4 col-sm-5 col-xs-7 ">
　　　　　 <div class="userpanel panel-default">
        <div class="image_size">
          <p style="padding-top:15px;" </p>
         <%= profile_img(user) %>
        </div>
        <br>
        名前<%= user.name %>
        </br>
        <br>
        会社名<%= user.company_name %>
        </br>

        <br>
        部署<%= user.department %>
        </br>
　　　　　<p style="padding-top:15px;" </p>
</div>
</div>
</div>
</div>
     <% end %>
</div>

<div class="container">
<div class="row">
     <br>
  　<h4><%= @user.name %>のフォロワー一覧</h4>
</br>

    <% @user.followers.each do |user| %>
<div style="display:table; width:50%; margin:5px auto;">
     <div class="container-child col-md-4 col-sm-5 col-xs-7 ">
           <div class="panel panel-default">

          <div class="image_size">
            <p style="padding-top:15px;" </p>
           <%= profile_img(user) %>
          </div>
        <br> 名前 <%= user.name %></br>
      <br> 会社名  <%= user.company_name %>  </br>

    <br> 部署 <%= user.department %></br>

　　　  <p style="padding-top:15px;" </p>
  </div>


    </div>
      </div>
        </div>
</div>
    <% end %>
<div class="row">
    <div style="display:table; width:70%; margin:5px auto;">
  <p style="padding-top:45px;" </p>
   <div class="panel panel-default">

 <%if  @user.id == current_user.id -%>
<br>
<%= link_to 'マイページ編集', edit_user_registration_path , class: 'btn btn-default btn-sm btn-success' %>
</br>
  <% end %>
<%= link_to '戻る', :back %>
  </div>
</div>
