




 <div class="container">
  <div class="row"> 
 <br> </br>
 　
   
  <div> 
 　<%= profile_img(@user )%>
 
  </div>
  
 
 <div class="row">
 <br> </br> <h4><%= @user.name %>がフォロー中</h4>
  <div class="image_size">
 　

    <!--users全体を確認-->
    
    <% @user.followed_users.each do |user| %>
    <div class="col-md-2 col-sm-4 col-xs-6 ">
      
        <div class="image_size">
         <%= profile_img(user) %>
        </div>
        <br>
        <%= user.name %>
        </br>
　　　</div>
     <% end %>
</div>
 
 <br> </br>
 <div class="row">
  　<h4><%= @user.name %>のフォローワー一覧</h4>
 
    <% @user.followers.each do |user| %>
     <div class="col-md-2 col-sm-4 col-xs-6 ">
      
          <div class="image_size">
           <%= profile_img(user) %>
          </div>
        <br></br>
        <%= user.name %>
     </div>  
    <% end %>
  </div>
 <br>   
  <%= link_to '戻る', :back %>
  </br> 
 






