
<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
  <div id="error_explanation">

    <h2><%= @event.errors.count %>件のエラーがあります。</h2>
<div class="error_field alert alert-danger" role="alert">
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
<h5><%= msg %></h5>
    <% end %>
    </ul>
    </div>
  </div>








<% end %>




 <%= f.label :title %>
 <%= f.text_field :title, class: 'form-control' %>
<%= f.label :content %>
<%= f.text_field :content, class: 'form-control' %>
<%= f.label :opening_time%>
<%= f. datetime_select(:opening_time, events: :use_month_numbers, :minute_step => 10) %><br />
<%= f.label :ending_time%>
<%= f. datetime_select(:ending_time, events: :use_month_numbers, :minute_step => 10) %><br />


<%= f.label :画像 %><br />
<%= image_tag(@event.image) if @event.image.present? %>
<%= f.file_field :image %>
<br>
<%= f.submit '投稿', class: 'btn btn-success btn-block',data: {disable_with: '作成中……'} %>
<% end %>
