<div class="container">
  <div class="row">
  <h6><%= notice %></h6>
  <h1>イベント一覧</h1>
    <%= link_to "イベントを作成する", new_event_path, class: 'btn btn-default' %>
    <p style="padding-top:15px;" </p>


<% @events.each do |event| %>
<div class= "col-md-3 col-md-offset-0 col-sm-2">
    <div class="panel panel-default">
  <p style="padding-top:75px;" </p>
<h6><strong>開始時間  <%= event.opening_time.strftime('%Y年%m月%d日%H時%M分') %></strong></h6>
<h6><strong>終了時間  <%= event.ending_time.strftime('%Y年%m月%d日%H時%M分') %></strong></h6>
<p style="padding-top:95px;" </p>
</div>

</div>

<div class= "col-md-9 col-md-offset-0 col-sm-10">
  <div class="panel panel-default">
<h4><strong>イベント名　<%= event.title %></strong></h4>
<div class="page-header">
<h5> <%= image_tag(event.image) if event.user.present?%> </h5>
</div>
        <h5>企画者<%= event.user.name %></h5>
        <h5>会社名<%= event.user.company_name %></h5>



  <p> 参加人数は <%= event.tickets.count %>人です。</p>

<%= link_to "イベント詳細へ", event_path(event), class: 'btn btn-default' %>
<p style="padding-top:15px;" </p>
    </div>
</div>
<% end %>
</div>
</div>
