<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>イベント一覧だよ</h1>
    <%= link_to "イベントを作成する", new_event_path, class: 'btn btn-default' %>
    <p style="padding-top:15px;">
   </p>
    <% @events.each do |event| %>
      <div class="row">
        <%= profile_img(event.user) %>
        <h4><%= event.user.name %></h4>
        <!-- <%= link_to event_path(event) do %> -->
  <h4><strong><%= event.title %></strong></h4>
        <p><%= event.content %></p>
         <p>  <%= image_tag(event.image) %></p>

        <p> 参加予定者:<%= event.user.name %>です。</p>
          <p> 参加人数は <%= event.comments.count %>人です。</p>
        <% end %>


  <%= link_to "参加登録（登録後の削除の場合もこちら）", event_path(event.id), class: 'btn btn-default btn-sm btn-success' %>

<%if  event.user_id == current_user.id -%>
        <%= link_to "編集", edit_event_path(event.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", event_path(event.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
         <%  end %>
      <p style="padding-top:90px;">
     </p>
      </div>

    <% end %>
  </div>
</div>
