<!DOCTYPE html>
<html>
  <head>
  <script src = "https://js.pusher.com/4.1/pusher.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <title>Event</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>




    <meta name='viewpoint' content="width=device-width", initial-scale="1">

<% if user_signed_in? %>
  <script>
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
      encrypted:true,
      cluster:'ap1'
    });
    var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
    channel.bind('comment_created', function(data) {
      alert(data.message);
    });
    channel.bind('notification_created', function(data) {
      $('#unread_count').html(data.unread_counts);
    });
  </script>
  <% end %>
</head>
<body>

  <header>
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
     </button>
    </div>
    <div class="collapse navbar-collapse" id="top-nav">
    <ul class="nav navbar-nav">
      <!-- <li class="dropdown-header"><%= link_to "Achieve", root_path %></li> -->
      <!-- <li class="dropdown-header"><%= link_to "トップページ", root_path %></li> -->

      <li class="dropdown-header"><%= link_to "イベント一覧", root_path %></li>
      <!-- <li class="dropdown-header"><%= link_to 'マイページ編集', edit_user_registration_path %></li> -->


      <li class="dropdown-header"><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
      <li class="dropdown-header"><%= link_to "メッセージ", conversations_path %></li>
      <li class="dropdown-header"><%= link_to "お問い合わせ", new_contact_path %></li>
      <% if user_signed_in? %>
      <%= link_to notifications_index_path, class:"navbar-brand" do %>
       <i class="fa fa-bell fa-1x"><span id="unread_count"><%=@notifications_count %></span></i>
      <% end %>
        <li class="dropdown-header"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="dropdown-header"><%= link_to 'ログイン', new_user_session_path %></li>
        <li class="dropdown-header"><%= link_to 'サインアップ', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
 </nav><!-- /.container-fluid -->
  </header>

  <% flash.each do |key, value| %>

<% end %>

<%= yield %>

  <!-- <footer>
    <p>運営会社Eventbook株式会社</p>
    <p>© 2015-2018 Copyright Eventbook Corp.</p>
  </footer> -->

</body>
</html>
